@import "matugen.css";

* {
    padding: 1 3 1 3;
    border: 5px;
    border-radius: 8px;
    font-family: "JetBrainsMono Nerd Font", "FiraCode Nerd Font", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    min-height: 0;
}

.modules-left{
    padding-left: 2px;
}
.modules-right{
    padding-right: 15px;
}

window#waybar {
    background: @background_transparent;
    border: 2.0px solid @secondary_container;
    color: @on_primary_container;
}

#workspaces button {
    padding: 0 0.4rem;
    margin: 0.3rem;
    color: @on_secondary_container;
}

#workspaces button.active {
    background: @secondary_container;
    color: @on_secondary_container;
}

#battery, #pulseaudio, #network {
    padding: 0 0.7rem 0;
    font-size: 1.5rem;
    margin: 0.3rem;
    /* background-color: @secondary_container; */
    color: @on_secondary_container;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

